/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 */

/*
 *= require rails_bootstrap_forms
 */


// @import "bootstrap-sprockets";
@import "bootstrap";
// @import url('https://fonts.googleapis.com/css?family=Quicksand');
@import url('https://fonts.googleapis.com/css?family=Quicksand:700');
@import url('https://fonts.googleapis.com/css?family=Slabo+27px');
@import url('https://fonts.googleapis.com/css?family=Nunito');



  .entire_home_page {
        background-image: url("https://i.pinimg.com/originals/ee/6c/85/ee6c850741ef8c350e5f12e3d300de7a.jpg");
        background-repeat: no-repeat;
        background-position: center top;
        background-color: rgba(255, 255, 255, 0.4);
        background-blend-mode: lighten;
        // font-family: 'Quicksand', sans-serif;
        font-family: 'Nunito', sans-serif;
    }

    .button {
        margin-left: 590px;
        margin-top: 10px;
        display: inline block;
    }

    .search {
        margin-top: 220px;
        margin-left: 420px;
        display: inline block;
    }

    .movies {
        margin-top: 60px;
        margin-left: 480px;
        font-style: bold;
        font-size: 120px;
        font-family: 'Quicksand', sans-serif;
    }

  .iframe {
      margin-top: 10px;
      margin-left: 350px;
    }

    #title {
        margin-top: 10px;
        margin-left: 400px;
    }

    #year {
        margin-top: 10px;
        margin-left: 600px;
    }

    #synopsis {
        margin-top: 10px;
        margin-left: 170px;
        color: white;
        font-size: 30px;
    }

    .review {
        list-style-type: none;
        color: white;
        margin-bottom: 50px;
        margin-left: 20px;
    }

    .review-header {
        padding-top: 20px;
        margin-bottom: 50px;
        margin-left: 170px;
        color: white;
    }
    
    .box {
        background: black;
        width: 560px;
        height: 300px;
        margin-top: 10px;
        margin-left: 350px;
        overflow: auto;
    }

    .log-in{
        color: white;
        font-size: 2rem;
    }

    .log-out{
        color: white;
        font-size: 2rem;
    }

    .account-info{
        color: white;
        font-size: 2rem;
    }

    .homepage {
        color: white;
        font-size: 2rem;
    }

    a:hover {
        color: red;
    }

    a:link {
        color: white;
      }
      
    .top-nav {
        background-color: white;
    }